{{ define "main" }}
<div class="relative overflow-x-hidden pt-20 border-b">
  <div
    class="absolute left-[50%] top-[-363px] w-[1000px] h-[1000px] bg-[#EBEFFF] blur-[200px] z-[-1] rounded-[50%]"
  ></div>
  <div
    class="grid grid-cols-12 gap-2 desktop:pt-20 mobile:pt-2 mobile:px-6 desktop:px-60"
  >
    <div class="desktop:col-span-8 mobile:col-span-8">
      <h1 class="font-sans font-bold text-7xl uppercase mobile:text-6xl">{{- site.Title }}</h1>
      <div class="mobile:hidden desktop:block">
        <h2 class="font-serif font-semibold text-4xl py-6">
          Software Engineer
        </h2>
        <h3 class="font-serif font-semibold text-3xl text-main py-4">
          6 years industry experience, full-stack.
        </h3>
      </div>
    </div>
    <div class="col-span-1 mobile:hidden"></div>
    <div class="desktop:col-span-3 mobile:col-span-4 desktop:block">
      <img
        class="border-solid border-8 border-main rounded-3xl w-full h-auto"
        src="/person.jpeg"
      />

      <div class="mobile:hidden desktop:block pt-5 text-2xl w-full text-center">
        <svg
          class="inline h-[1em]"
          version="1.1"
          id="Capa_1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          viewBox="0 0 293.334 293.334"
          xml:space="preserve"
        >
          <g>
            <g>
              <path
                style="fill: #010002"
                d="M146.667,0C94.903,0,52.946,41.957,52.946,93.721c0,22.322,7.849,42.789,20.891,58.878
			c4.204,5.178,11.237,13.331,14.903,18.906c21.109,32.069,48.19,78.643,56.082,116.864c1.354,6.527,2.986,6.641,4.743,0.212
			c5.629-20.609,20.228-65.639,50.377-112.757c3.595-5.619,10.884-13.483,15.409-18.379c6.554-7.098,12.009-15.224,16.154-24.084
			c5.651-12.086,8.882-25.466,8.882-39.629C240.387,41.962,198.43,0,146.667,0z M146.667,144.358
			c-28.892,0-52.313-23.421-52.313-52.313c0-28.887,23.421-52.307,52.313-52.307s52.313,23.421,52.313,52.307
			C198.98,120.938,175.559,144.358,146.667,144.358z"
              />
              <circle
                style="fill: #010002"
                cx="146.667"
                cy="90.196"
                r="21.756"
              />
            </g>
          </g>
        </svg>
        <h3 class="inline font-serif text-[1em]">Brighton, UK</h3>
      </div>
    </div>
    <div class="col-span-12 desktop:hidden">
      <h2 class="font-serif font-semibold text-4xl py-2 mobile:text-3xl">
        Software Engineer
      </h2>
      <h3
        class="font-serif font-semibold text-3xl text-main py-2 mobile:text-2xl"
      >
        6 years industry experience, full-stack.
      </h3>
    </div>
  </div>
  <div class="pt-10 mobile:px-8 desktop:px-60">
    <div
      class="relative even:left-1/4 mobile:w-full desktop:w-3/4 bg-white rounded-lg shadow-md before:w-[44px] before:h-[44px] before:block before:relative before:left-[-22px] before:top-[22px] before:rounded-[50%] before:bg-main before:gb"
    >
      <div class="relative px-[50px] top-[-15px]">
        <p class="text-3xl font-serif font-bold text-main">
          Modern Development
        </p>
        <p class="text-2xl font-serif py-5">
          Hands-on with industry-leading tools like Terraform for
          Infrastructure-as-Code (IaC) and Bazel for powerful, scalable build
          automation.
        </p>
      </div>
    </div>

    <div
      class="relative desktop:even:left-1/4 my-10 mobile:w-full desktop:w-3/4 bg-white rounded-lg shadow-md before:w-[44px] before:h-[44px] before:block before:relative before:left-[calc(100%-22px)] before:top-[22px] before:rounded-[50%] before:bg-main before:gb"
    >
      <div class="relative px-[50px] top-[-15px]">
        <p class="text-3xl font-serif font-bold text-main">
          Full-Stack Development
        </p>
        <p class="text-2xl font-serif py-5">
          Experienced in both frontend and backend development, offering
          end-to-end solutions for web applications.
        </p>
      </div>
    </div>

    <div
      class="relative my-10 even:left-1/4 mobile:w-full desktop:w-3/4 bg-white rounded-lg shadow-md before:w-[44px] before:h-[44px] before:block before:relative before:left-[-22px] before:top-[22px] before:rounded-[50%] before:bg-main before:gb"
    >
      <div class="relative px-[50px] top-[-15px]">
        <p class="text-3xl font-serif font-bold text-main">Cloud Computing</p>
        <p class="text-2xl font-serif py-5">
          Extensive experience in cloud architecture, capable of deploying and
          managing scalable, secure cloud solutions tailored to modern business
          needs.
        </p>
      </div>
    </div>
  </div>

  <div class="grid grid-cols-12 gap-2 pb-10 mobile:px-6 desktop:px-60">
    <div class="desktop:col-span-8 mobile:col-span-12">
      <a
        href="#get-in-touch"
        class="shadow-lg inline-block mobile:w-full text-center rounded-3xl bg-main uppercase text-2xl text-white px-20 mt-5 py-2 hover:outline hover:outline-black hover:outline-8"
        >Get in touch</a
      >
    </div>
    <div class="col-span-1"></div>
    <div class="desktop:col-span-3 mobile:col-span-12">
      <div class="desktop:float-right mobile:text-center">
        <a
          href="https://github.com/jacobshirley"
          target="_blank"
          class="inline-block shadow-lg border-solid border-8 border-black rounded-3xl w-20 h-20 bg-white hover:border-main hover:fill-main"
        >
          <svg
            viewBox="0 0 98 96"
            class="p-2 w-full h-full"
            width="98"
            height="96"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M48.854 0C21.839 0 0 22 0 49.217c0 21.756 13.993 40.172 33.405 46.69 2.427.49 3.316-1.059 3.316-2.362 0-1.141-.08-5.052-.08-9.127-13.59 2.934-16.42-5.867-16.42-5.867-2.184-5.704-5.42-7.17-5.42-7.17-4.448-3.015.324-3.015.324-3.015 4.934.326 7.523 5.052 7.523 5.052 4.367 7.496 11.404 5.378 14.235 4.074.404-3.178 1.699-5.378 3.074-6.6-10.839-1.141-22.243-5.378-22.243-24.283 0-5.378 1.94-9.778 5.014-13.2-.485-1.222-2.184-6.275.486-13.038 0 0 4.125-1.304 13.426 5.052a46.97 46.97 0 0 1 12.214-1.63c4.125 0 8.33.571 12.213 1.63 9.302-6.356 13.427-5.052 13.427-5.052 2.67 6.763.97 11.816.485 13.038 3.155 3.422 5.015 7.822 5.015 13.2 0 18.905-11.404 23.06-22.324 24.283 1.78 1.548 3.316 4.481 3.316 9.126 0 6.6-.08 11.897-.08 13.526 0 1.304.89 2.853 3.316 2.364 19.412-6.52 33.405-24.935 33.405-46.691C97.707 22 75.788 0 48.854 0z"
            />
          </svg>
        </a>
        <a
          href="https://www.linkedin.com/in/jacob-shirley-4532b7159/"
          target="_blank"
          class="inline-block shadow-lg border-solid border-8 border-black rounded-3xl w-20 h-20 bg-white hover:border-main hover:fill-main"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="p-2 w-full h-full"
            width="24"
            height="24"
            viewBox="0 0 24 24"
          >
            <path
              d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zm13.5 12.268h-3v-5.604c0-3.368-4-3.113-4 0v5.604h-3v-11h3v1.765c1.396-2.586 7-2.777 7 2.476v6.759z"
            />
          </svg>
        </a>
      </div>
    </div>
  </div>
</div>
{{ end }}
