<footer class="bg-lightgrey">
  <div class="mobile:px-8 desktop:px-10 desktop:py-20 mobile:py-8 border-b">
    <h2 class="font-sans font-semibold text-5xl text-center">Get in touch</h2>
    <form
      id="get-in-touch"
      class="desktop:px-52"
      method="POST"
      action="https://formspree.io/f/mldryoyn"
    >
      <div class="mobile:px-0 desktop:px-40">
        <input
          name="name"
          placeholder="Name"
          class="p-2 w-full text-xl border-solid border-8 border-black rounded-2xl h-12 my-10 bg-white block hover:border-main focus:outline-none focus:border-main"
          type="text"
        />
      </div>
      <div class="mobile:px-0 desktop:px-40">
        <input
          name="email"
          placeholder="Email"
          class="p-2 w-full text-xl border-solid border-8 border-black rounded-2xl h-12 my-10 bg-white block hover:border-main focus:outline-none focus:border-main"
          type="email"
        />
      </div>
      <textarea
        name="message"
        placeholder="Message"
        rows="5"
        class="shadow h-52 p-2 w-full text-xl border-solid border-8 border-black rounded-2xl h-full my-10 bg-white block hover:border-main focus:outline-none focus:border-main"
        type="text"
      ></textarea>
      <div class="text-center w-full">
        <button
          type="submit"
          class="shadow-lg inline-block rounded-3xl bg-main uppercase text-2xl text-white px-10 py-2 mt-2 hover:outline hover:outline-black hover:outline-8"
        >
          Send
        </button>
      </div>
    </form>
  </div>
  <p class="dark light-text bg-main text-white text-xs px-2 py-1">
    © 2024 Jacob Shirley
  </p>
</footer>
